@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

@import "tailwindcss";

:root {
  --font-orbitron: "Orbitron", sans-serif;
  --font-numbers: "Nunito Sans", sans-serif;
  --font-interface: var(--font-orbitron);
}

.test-font-numbers {
  font-family: var(--font-numbers);
}

.number-display {
  font-family: var(--font-numbers) !important;
}
